@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.navbar{
    height: 100px;
    font-size: 15px !important;
    position: relative;
    z-index: 100;
    background-color: white;
    margin-bottom: 0px;
    text-transform: uppercase;
}
.navbar .navbar-nav ul{
    float: right;
}
.navbar .navbar-nav li a{
    margin-bottom: 0px !important;
    text-transform: uppercase;
}
section{
    margin-top: auto;
    overflow-y: hidden;
    padding-bottom: 50px;

}
.nsection{
    padding-top: 130px;
}
h2{
    font-size: 38px;
    color: #222222;
    font-weight: normal;
    margin: 0px 0 25px 0;
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}
h3{
    font-size: 26px;
}
#home{
    height: 80vh;
}
.masthead {
    padding-top: 0px;
    margin-top: 0;
    height: 70vh;
    min-height: 500px;
    background-image: url(images/client.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h1,p{
        color: #fff;
        z-index: 1;
        position: relative;
    }

    @media(max-width:720px) {
    background: #ffffff;
    min-height: 200px;
    color: #000;
    align-items: center;

}
a{
    color: white;
    padding: 10px;
    border: white 1px solid;
    border-radius: 10px;
}
}
//about us page
.contact_btn{
    padding: 10px;
    border: rgb(82, 137, 255) 2px solid;
    color: rgb(82, 137, 255);
    text-decoration: none;
}
.about_us img{
    width: 300px; height:300px;border-radius:50%;overflow: hidden;
}

//services
#services{
    background-color: rgb(240, 240, 240);
}#service {
    padding: 60px 0px;
    background: #EFEFEF;
}

.service_wrapper {
    padding: 40px 0 40px;
}

.service_section {
}

.service_block {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.service_icon {
    border: 2px solid #004edf;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: 0px auto 25px;
}

.service_icon.icon2 {
    border: 2px solid #004edf;
}

.service_icon.icon3 {
    border: 2px solid #004edf;
}

.service_icon span {
    background: transparent;
    border-radius: 50%;
    display: block;
    height: 100%;
    width: 100%;
}

.service_icon i {
    color: #004edf;
    font-size: 40px;
    margin-top: 0;
    position: relative;
    top: 20px;
    z-index: 20;
}

.service_block h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #111111;
    margin: 35px 0 18px;
}

.service_block p {
    font-size: 16px;
    color: #888888;
    margin: 0px;
}


//team

.team_section{
    display: flex;
    flex-wrap: wrap;
}
.team_area{
    width: 30%;
}
.team_area img{
    width: 200px;
    height: auto;
    border-radius: 50%;
    filter: brightness(80%);
    transition: all 1s ease 0s;
    margin-bottom: 20px;
}
.team_area img:hover{
    transform: scale(1.1);
    filter: brightness(100%);
}
.team_area .title{
    font-size: 20px;
    color: darkgrey;
    text-align: center;

}
.team_box ul{
    list-style: none;
}
.team_box ul li{
    text-decoration: none;
    display: inline;
    padding: 10px;
    margin-right: 15px ;
}
.team_box ul li a{
    text-decoration: none;
    font-size: 25px ;
}
//contact page
#contact{
    background-color: rgb(56, 56, 56);
    color: white;
    bottom: 0;
    .form-control{
        background: transparent;
        padding: 15px 16px;
        border: 1px solid #ccc;
        width: 100%;
        height: 50px;
        display: block;
        border-radius: 4px;
        font-size: 15px;
        color: #aaa;
        margin: 0 0 15px 0;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
    .text-area{
        height: 230px;
        resize: none;
        overflow: auto;
    }
    .input-btn{
        width: 175px;
        height: 50px;
        letter-spacing: 0px;
        background: #00df56;
        border-radius: 3px;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        border: 0px;
        transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
    }
}
.follow{
    background: rgba(70, 70, 70, 0.74);
    padding: 10px;
    margin: 15px;
    border-radius: 4px;
    color: rgb(185, 185, 185);
}
.contact-info .fa{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
//client page

#clients {
    padding: 40px 0;
    }
    .client_logos ul li {
    display: inline;
    margin: 0 25px;
    padding: 11px 0;
    display: inline-block;

    }
    .client_logos{
        background-color: rgb(112, 112, 112);
        height: 20vh;
    }
    #clients{
        padding-bottom: 0px !important;
    }
