@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
}
body {
    background: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #888888;
    margin: 0;
}
.card{
    width: 400px;
}
